header{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: center;
}
.container{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sanix_logo{
    width: 100px;
    height:100px;
    align-items: center;
}
header a{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}