<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/common/css/base.css" />
    <link rel="stylesheet" href="/static/common/css/header.css" />
    <link rel="stylesheet" href="/static/prj/css/update.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Sanix</title>
</head>
<body>
    {% include "header.html" %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
</body>
</html>